<div>
  <div class="flex-col hero-content lg:flex-row-reverse">
    <img src="https://assets.pokemon.com/static2/_ui/img/og-default-image.jpeg" class="max-w-sm rounded-lg shadow-2xl">
    <div>
      <h1 class="mb-5 text-5xl font-bold">
        Pokedex
      </h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <%= button_to 'Create your pokedex', pokemons_path,method: :get, class:'btn btn-primary'  %>
    </div>
  </div>
  <div>
    <h3 class="mb-5 text-5xl font-bold" >Last Pokemons</h3>
    <%= render 'poketable',pokemons: @pokemons %>
  </div>
  <%== pagy_nav(@pagy) %>
  <%== pagy_info(@pagy, item_name: 'Pokemon'.pluralize(@pagy.count))%>
</div>


